<?php
use Gubee\Integration\Block\System\Config\InitialButtonAttribute;
/** @var InitialButtonAttribute $block */
?>
<script>
    require([
        'jquery',
        'prototype',
    ], function ($) {
        function sendAllAttributes() {
            params = {};
            new Ajax.Request('<?php echo $block->getAjaxUrl() ?>', {
                loaderArea: true,
                asynchronous: true,
                parameters: params,
                onSuccess: function (transport) {
                    var response = JSON.parse(transport.responseText);
                    $('#messages-attribute .message-success span.message-text').text('Attribute sent');
                    $('#messages-attribute .message-success').show();
                    $('#messages-attribute .message-success').delay(8000).fadeOut();
                },
                onFailure: function() {
                    $('#messages-attribute .message-error span.message-text').text('Attribute sent error');
                    $('#messages-attribute .message-error').show();
                    $('#messages-attribute .message-error').delay(8000).fadeOut();
                    return false;
                }
            });
        }
        $('#btn_attribute_send').click(function () {
            sendAllAttributes();
        });
    });
</script>

<div id="messages-attribute" >
    <div class="messages-attribute">
        <div class="message message-success success" style="display: none;">
            <div data-ui-id="messages-attribute-message-success">
                <span class="message-text"></span>
            </div>
        </div>
        <div class="message message-error error" style="display: none;">
            <div data-ui-id="messages-attribute-message-error">
                <span class="message-text"></span>
            </div>
        </div>
    </div>
</div>
<?php echo $block->getButtonHtml() ?>
