<?php
use Gubee\Integration\Block\System\Config\InitialButtonCategory;
/** @var InitialButtonCategory $block */
?>
<script>
    require([
        'jquery',
        'prototype',
    ], function ($) {
        function sendAllCategories() {
            params = {};
            new Ajax.Request('<?php echo $block->getAjaxUrl() ?>', {
                loaderArea: true,
                asynchronous: true,
                parameters: params,
                onSuccess: function (transport) {
                    var response = JSON.parse(transport.responseText);
                    $('#messages-category .message-success span.message-text').text('Category sent');
                    $('#messages-category .message-success').show();
                    $('#messages-category .message-success').delay(8000).fadeOut();
                },
                onFailure: function() {
                    $('#messages-category .message-error span.message-text').text('Category sent error');
                    $('#messages-category .message-error').show();
                    $('#messages-category .message-error').delay(8000).fadeOut();
                    return false;
                }
            });
        }
        $('#btn_category_send').click(function () {
            sendAllCategories();
        });
    });
</script>

<div id="messages-category" >
    <div class="messages-category">
        <div class="message message-success success" style="display: none;">
            <div data-ui-id="messages-category-message-success">
                <span class="message-text"></span>
            </div>
        </div>
        <div class="message message-error error" style="display: none;">
            <div data-ui-id="messages-category-message-error">
                <span class="message-text"></span>
            </div>
        </div>
    </div>
</div>
<?php echo $block->getButtonHtml() ?>
